<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.ReplyInfoMapper">

    <!-- 分页获取学校评论信息 -->
    <select id="selectReplyPage" resultType="java.util.LinkedHashMap">
        select
        ri.id,
        ri.user_id,
        ri.content,
        ri.to_user_id,
        ri.create_date,
        ri.school_id,
        ss.name as schoolName,
        ss.city,
        ss.province,
        ss.manage,
        ss.`level`,
        ui.name as userName,
        ui.id_card,
        ui.`type`,
        ui.sex,
        ui.images
        from
        reply_info ri
        left join sys_school ss on
        (ss.id = ri.school_id)
        left join user_info ui on
        (ui.id = ri.user_id)
        where
        1 = 1
        <if test="replyInfo.schoolName != null and replyInfo.schoolName != ''">
            AND ss.name LIKE CONCAT('%',#{replyInfo.schoolName},'%')
        </if>
        <if test="replyInfo.content != null and replyInfo.content != ''">
            AND rilevel LIKE CONCAT('%',#{replyInfo.level},'%')
        </if>
        <if test="replyInfo.userName != null and replyInfo.userName != ''">
            AND ui.name LIKE CONCAT('%',#{replyInfo.userName},'%')
        </if>
        order by
        ri.create_date desc
    </select>

    <!-- 根据学校ID获取评论信息 -->
    <select id="selectReplyBySchool" resultType="java.util.LinkedHashMap">
        select
        ri.id,
        ri.user_id,
        ri.content,
        ri.to_user_id,
        ri.create_date,
        ri.school_id,
        ss.name as schoolName,
        ss.city,
        ss.province,
        ss.manage,
        ss.`level`,
        ui.name as userName,
        ui.id_card,
        ui.`type`,
        ui.sex,
        ui.images
        from
        reply_info ri
        left join sys_school ss on
        (ss.id = ri.school_id)
        left join user_info ui on
        (ui.id = ri.user_id)
        where
        1 = 1
        AND ri.school_id = #{schoolId}
        order by
        ri.create_date desc
    </select>
</mapper>
